/*
Colors
#134074 - Indigo Dye
#13315C - Prussian Blue
#0B2545 - Oxford Blue
#8DA9C4 - Cadet Grey
#EEF4ED - Mint cream
#262730 - Raisin Black

*/


body {
    background-color: #EEF4ED ;
}

#navbar {
    background-color: #13315C;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    size: 0;
    display:none;
}
@media screen and (max-width: 800px) {
    #footer{
        display:block;
        background-color: #EEF4ED;
        size: 15%;
    }
}
#karahdys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}