<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alibi</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for("static", filename="templates/css/main.css") }}" rel="stylesheet">
  </head>
  <body>
    <!--Navbar, paskannettu suoraan bootstrapin sivuilta-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="{{ url_for("static", filename="templates/img/halme.png") }}" width="34" height="34" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Koti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tony.html">Tony</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  href="alibi.html">Alibi</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--NAVBAR Loppu-->
    <div class="container py-1">
        <div class="row justify-content-center">
            <div class="col-5">
              
             <h5>"Vain amatöörit kärähtää" -Viikinki</h5>
             <div class="row justify-content-center py-4">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/xCncxXyGnlI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
            </div>
          </div>
        </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-5">
            
           <h6>"Mess with the best, die like the rest - Hack the World"</h6>
    <div class="row justify-content-center">
    </div>
    <div class="container py-3">
      <div class="row justify-content-evenly">
        <div class="col-6 border">
        <ul>
          <li>
            192.168.0.0
          </li>
          <li>
            192.168.0.0
          </li>
          <li>
            192.168.0.0
          </li>
          <li>
            192.168.0.0
          </li>
          <li>
            192.168.0.0
          </li>
          <li>
            192.168.0.0
          </li>
        </ul>
        </div>
        <div class="col-6 border">
          <ul>
            <li>
              192.168.0.0
            </li>
            <li>
              192.168.0.0
            </li>
            <li>
              192.168.0.0
            </li>
            <li>
              192.168.0.0
            </li>
            <li>
              192.168.0.0
            </li>
            <li>
              192.168.0.0
            </li>
          </ul>

        </div>
      </div>
    </div>



    <nav class="navbar-fixed-bottom visible-xs" id="footer">
        <div class="fixed-footer">
          <img src="img/luuri.png" class=" animated infinite bounce " width="64" height="64">
          <h4 class="vcenter">Soita seksiseuraa heti!<br>Paina luurin kuvaa!<br><small>0700 11 111 (2€/alkava minuutti)</small></h4>
        </div>
      </nav>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>