<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pojaatt</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for("static", filename="templates/css/main.css") }}" rel="stylesheet">
  </head>
  <body>
    <!--Navbar, bootstrapin sivuilta-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="{{ url_for("static", filename="templates/img/halme.png") }}" width="34" height="34" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Koti</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tony.html">Tony</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="alibi.html">Alibi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="chess.html">Chess</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--NAVBAR Loppu-->
    <!--2x Container, Molemmissa 2 columnia-->
    
  <main>
    <div class="container">
      
      <div class="row justify-content-center">
        <div class="col-5 py-1">
          
         <h6>"The only true wisdom is in knowing you know nothing" <br> -Socrates</h6>
        </div>
      </div>
    </div>
    <div class="container px-4 py-5 " id="etukontti">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h1>Tervetuloa!</h1>
      <div class="row">
        <div class="col-md-6">
        
          <a><img src="{{ url_for("static", filename="templates/img/halme2.png") }}" class="img-thumbnail" ></a>
        </div>
        <div class="col-md-6">
          <h3>These are the boys</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Tuomas</th>
                <td>0</td>

              </tr>
              <tr>
                <th scope="row">Emil</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Akira</th>
                <td colspan="2">0</td>
              </tr>
              <tr>
                <th scope="row">Ville</th>
                <td colspan="2">0</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      
    </div>
    <!--Container no. 2-->
  <div class="container px-4 py-5">
    <div class="row">
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu sem nulla. Donec malesuada tristique pretium. Curabitur consequat ipsum ut suscipit viverra. Nullam pulvinar risus vel diam viverra ultricies. In at nunc tincidunt, porttitor mauris quis, rutrum purus. Donec viverra ornare vestibulum. Integer posuere libero leo, et ullamcorper nibh auctor id. Integer pharetra accumsan neque, et tincidunt dui varius sit amet. Aenean quis luctus metus. Aenean convallis velit quis eros imperdiet maximus. Vivamus ultricies vehicula venenatis. Duis ac lacus non mauris faucibus luctus in quis massa. Maecenas at massa sed est iaculis tempus. Sed nec imperdiet felis. Integer in porta libero, eu efficitur eros.
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu sem nulla. Donec malesuada tristique pretium. Curabitur consequat ipsum ut suscipit viverra. Nullam pulvinar risus vel diam viverra ultricies. In at nunc tincidunt, porttitor mauris quis, rutrum purus. Donec viverra ornare vestibulum. Integer posuere libero leo, et ullamcorper nibh auctor id. Integer pharetra accumsan neque, et tincidunt dui varius sit amet. Aenean quis luctus metus. Aenean convallis velit quis eros imperdiet maximus. Vivamus ultricies vehicula venenatis. Duis ac lacus non mauris faucibus luctus in quis massa. Maecenas at massa sed est iaculis tempus. Sed nec imperdiet felis. Integer in porta libero, eu efficitur eros.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Aliquam rutrum dolor ut enim accumsan, scelerisque cursus purus mattis. Nulla facilisi. Suspendisse potenti. Nunc consectetur eu nibh nec fringilla. In luctus, mauris a tempor rutrum, quam risus aliquet urna, id scelerisque massa sem at nunc. Mauris pharetra nibh sed ex finibus, sed feugiat arcu finibus. Donec quis molestie orci, eget hendrerit lacus. Duis porta massa eu sem pulvinar, eget convallis dui tempor. Integer fringilla, eros feugiat tempus porta, purus purus volutpat tellus, vel malesuada urna dui nec enim. Mauris scelerisque massa ultricies, dapibus tellus vel, laoreet sem. Aliquam non neque nunc. Quisque tempor maximus urna ac mollis. Mauris blandit auctor risus, eu luctus ligula suscipit eget. Vestibulum at nibh vel velit venenatis malesuada a ac nunc. Nunc eu suscipit orci, et convallis ante.
        </p>
        </div>
      
    </div>
  </div>
  </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
